<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sanxia.salesManagement.system.dao.GoodsInfoMapper" >
  <resultMap id="BaseResultMap" type="com.sanxia.salesManagement.system.model.GoodsInfo" >
    <id column="goods_id" property="goodsId" jdbcType="INTEGER" />
    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="goods_type" property="goodsType" jdbcType="VARCHAR" />
    <result column="goods_price" property="goodsPrice" jdbcType="DECIMAL" />
    <result column="total_number" property="totalNumber" jdbcType="INTEGER" />
    <result column="remaining_number" property="remainingNumber" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    goods_id, goods_name, goods_type, goods_price, total_number, remaining_number
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from goods_info
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from goods_info
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sanxia.salesManagement.system.model.GoodsInfo" >
    insert into goods_info (goods_id, goods_name, goods_type, 
      goods_price, total_number, remaining_number
      )
    values (#{goodsId,jdbcType=INTEGER}, #{goodsName,jdbcType=VARCHAR}, #{goodsType,jdbcType=VARCHAR}, 
      #{goodsPrice,jdbcType=DECIMAL}, #{totalNumber,jdbcType=INTEGER}, #{remainingNumber,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sanxia.salesManagement.system.model.GoodsInfo" >
    insert into goods_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="goodsName != null" >
        goods_name,
      </if>
      <if test="goodsType != null" >
        goods_type,
      </if>
      <if test="goodsPrice != null" >
        goods_price,
      </if>
      <if test="totalNumber != null" >
        total_number,
      </if>
      <if test="remainingNumber != null" >
        remaining_number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="goodsId != null" >
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null" >
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsType != null" >
        #{goodsType,jdbcType=VARCHAR},
      </if>
      <if test="goodsPrice != null" >
        #{goodsPrice,jdbcType=DECIMAL},
      </if>
      <if test="totalNumber != null" >
        #{totalNumber,jdbcType=INTEGER},
      </if>
      <if test="remainingNumber != null" >
        #{remainingNumber,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sanxia.salesManagement.system.model.GoodsInfo" >
    update goods_info
    <set >
      <if test="goodsName != null" >
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsType != null" >
        goods_type = #{goodsType,jdbcType=VARCHAR},
      </if>
      <if test="goodsPrice != null" >
        goods_price = #{goodsPrice,jdbcType=DECIMAL},
      </if>
      <if test="totalNumber != null" >
        total_number = #{totalNumber,jdbcType=INTEGER},
      </if>
      <if test="remainingNumber != null" >
        remaining_number = #{remainingNumber,jdbcType=INTEGER},
      </if>
    </set>
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sanxia.salesManagement.system.model.GoodsInfo" >
    update goods_info
    set goods_name = #{goodsName,jdbcType=VARCHAR},
      goods_type = #{goodsType,jdbcType=VARCHAR},
      goods_price = #{goodsPrice,jdbcType=DECIMAL},
      total_number = #{totalNumber,jdbcType=INTEGER},
      remaining_number = #{remainingNumber,jdbcType=INTEGER}
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </update>
  
  
  <select id="selectGoodsNameById" resultType="java.lang.String" parameterType="java.lang.Integer" >
    select 
    goods_name
    from goods_info
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </select>
  
   <select id="selectRemainingById" resultType="java.lang.Integer" parameterType="java.lang.Integer" >
    select 
    remaining_number
    from goods_info
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </select>
  
  
 <!-- ########################################################### -->
   <!--查询商品所有信息  -->
   <select id="queryAllGoodsInfo" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from goods_info
  </select>
  <!--增加商品所有信息  -->
    <insert id="addGoodsByGoods" parameterType="com.sanxia.salesManagement.system.model.GoodsInfo" >
    insert into goods_info (goods_id, goods_name, goods_type, 
      goods_price, total_number, remaining_number
      )
    values (#{goodsId,jdbcType=INTEGER}, #{goodsName,jdbcType=VARCHAR}, #{goodsType,jdbcType=VARCHAR}, 
      #{goodsPrice,jdbcType=DECIMAL}, #{totalNumber,jdbcType=INTEGER}, #{remainingNumber,jdbcType=INTEGER}
      )
  </insert>
   <!--删除商品所有信息  --> 
  <delete id="deleteGoodsByGoods_id" parameterType="java.lang.Integer" >
    delete from goods_info
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </delete>
   <!--搜索id/name指定商品所有信息  --> 
    <select id="selectGoodsByGoodsId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from goods_info
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </select>
  
   <select id="selectGoodsByGoodsName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from goods_info
    where goods_name like #{goodsName,jdbcType=VARCHAR}
 </select>
 
  <!--根据ID查询商品所有信息  --> 
  <select id="queryGoodsByGoods_id" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from goods_info
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </select>
    <!--修改商品信息  --> 
  <update id="updateGoodsInfoById" parameterType="com.sanxia.salesManagement.system.model.GoodsInfo" >
    update goods_info
    set goods_name = #{goodsName,jdbcType=VARCHAR},
      goods_type = #{goodsType,jdbcType=VARCHAR},
      goods_price = #{goodsPrice,jdbcType=DECIMAL}
      where goods_id = #{goodsId,jdbcType=INTEGER}
  </update>
  
   <select id="selectPriceByGoodsId" resultType="java.math.BigDecimal" parameterType="java.lang.Integer" >
    select 
    goods_price
    from goods_info
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </select>
  
   <update id="updateRemainByGoods" parameterType="com.sanxia.salesManagement.system.model.GoodsInfo" >
    update goods_info
    set 
    remaining_number = #{remainingNumber,jdbcType=INTEGER}
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </update>

 <select id="selectGoodsTypeById" resultType="java.lang.String" parameterType="java.lang.Integer" >
    select 
    goods_type
    from goods_info
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </select>
  
  
   <update id="updateNumByGoods" parameterType="com.sanxia.salesManagement.system.model.GoodsInfo" >
    update goods_info
    set 
    total_number = #{totalNumber,jdbcType=INTEGER},
    remaining_number = #{remainingNumber,jdbcType=INTEGER}
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </update>
</mapper>