<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sanxia.salesManagement.system.dao.ReturnInfoMapper" >
  <resultMap id="BaseResultMap" type="com.sanxia.salesManagement.system.model.ReturnInfo" >
    <id column="return_id" property="returnId" jdbcType="INTEGER" />
    <result column="sale_id" property="saleId" jdbcType="INTEGER" />
    <result column="goods_id" property="goodsId" jdbcType="INTEGER" />
    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="return_reason" property="returnReason" jdbcType="VARCHAR" />
    <result column="return_money" property="returnMoney" jdbcType="DECIMAL" />
    <result column="return_time" property="returnTime" jdbcType="TIMESTAMP" />
    <result column="teturn_way" property="teturnWay" jdbcType="VARCHAR" />
    <result column="apply_status" property="applyStatus" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    return_id, sale_id, goods_id, goods_name, return_reason, return_money, return_time, 
    teturn_way, apply_status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from return_info
    where return_id = #{returnId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from return_info
    where return_id = #{returnId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sanxia.salesManagement.system.model.ReturnInfo" >
    insert into return_info (return_id, sale_id, goods_id, 
      goods_name, return_reason, return_money, 
      return_time, teturn_way, apply_status
      )
    values (#{returnId,jdbcType=INTEGER}, #{saleId,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER}, 
      #{goodsName,jdbcType=VARCHAR}, #{returnReason,jdbcType=VARCHAR}, #{returnMoney,jdbcType=DECIMAL}, 
      #{returnTime,jdbcType=TIMESTAMP}, #{teturnWay,jdbcType=VARCHAR}, #{applyStatus,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sanxia.salesManagement.system.model.ReturnInfo" >
    insert into return_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="returnId != null" >
        return_id,
      </if>
      <if test="saleId != null" >
        sale_id,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="goodsName != null" >
        goods_name,
      </if>
      <if test="returnReason != null" >
        return_reason,
      </if>
      <if test="returnMoney != null" >
        return_money,
      </if>
      <if test="returnTime != null" >
        return_time,
      </if>
      <if test="teturnWay != null" >
        teturn_way,
      </if>
      <if test="applyStatus != null" >
        apply_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="returnId != null" >
        #{returnId,jdbcType=INTEGER},
      </if>
      <if test="saleId != null" >
        #{saleId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null" >
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="returnReason != null" >
        #{returnReason,jdbcType=VARCHAR},
      </if>
      <if test="returnMoney != null" >
        #{returnMoney,jdbcType=DECIMAL},
      </if>
      <if test="returnTime != null" >
        #{returnTime,jdbcType=TIMESTAMP},
      </if>
      <if test="teturnWay != null" >
        #{teturnWay,jdbcType=VARCHAR},
      </if>
      <if test="applyStatus != null" >
        #{applyStatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sanxia.salesManagement.system.model.ReturnInfo" >
    update return_info
    <set >
      <if test="saleId != null" >
        sale_id = #{saleId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null" >
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="returnReason != null" >
        return_reason = #{returnReason,jdbcType=VARCHAR},
      </if>
      <if test="returnMoney != null" >
        return_money = #{returnMoney,jdbcType=DECIMAL},
      </if>
      <if test="returnTime != null" >
        return_time = #{returnTime,jdbcType=TIMESTAMP},
      </if>
      <if test="teturnWay != null" >
        teturn_way = #{teturnWay,jdbcType=VARCHAR},
      </if>
      <if test="applyStatus != null" >
        apply_status = #{applyStatus,jdbcType=VARCHAR},
      </if>
    </set>
    where return_id = #{returnId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sanxia.salesManagement.system.model.ReturnInfo" >
    update return_info
    set sale_id = #{saleId,jdbcType=INTEGER},
      goods_id = #{goodsId,jdbcType=INTEGER},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      return_reason = #{returnReason,jdbcType=VARCHAR},
      return_money = #{returnMoney,jdbcType=DECIMAL},
      return_time = #{returnTime,jdbcType=TIMESTAMP},
      teturn_way = #{teturnWay,jdbcType=VARCHAR},
      apply_status = #{applyStatus,jdbcType=VARCHAR}
    where return_id = #{returnId,jdbcType=INTEGER}
  </update>
  
  
  <select id="queryAllReturnInfo" resultMap="BaseResultMap"   >
    select 
    <include refid="Base_Column_List" />
    from return_info
    
  </select>
  
   <insert id="addReturnInfoByInfo" parameterType="com.sanxia.salesManagement.system.model.ReturnInfo" >
    insert into return_info (return_id, sale_id, goods_id, 
      goods_name, return_reason, return_money, 
      return_time, teturn_way, apply_status
      )
    values (#{returnId,jdbcType=INTEGER}, #{saleId,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER}, 
      #{goodsName,jdbcType=VARCHAR}, #{returnReason,jdbcType=VARCHAR}, #{returnMoney,jdbcType=DECIMAL}, 
      #{returnTime,jdbcType=TIMESTAMP}, #{teturnWay,jdbcType=VARCHAR}, #{applyStatus,jdbcType=VARCHAR}
      )
  </insert>
  
  <select id="selectReturnInfoById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from return_info
    where return_id = #{returnId,jdbcType=INTEGER}
  </select>
  
  <update id="updateStatusByReturn" parameterType="com.sanxia.salesManagement.system.model.ReturnInfo" >
    update return_info
    set  
    apply_status = #{applyStatus,jdbcType=VARCHAR}
    where return_id = #{returnId,jdbcType=INTEGER}
  </update>
  
  <select id="queryAllReturnInfoByReturnId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from return_info
    where return_id = #{returnId,jdbcType=INTEGER}
  </select>
  
  <select id="queryAllReturnInfoByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from return_info
    where goods_name like #{goodsName,jdbcType=VARCHAR}
  </select>
</mapper>