<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sanxia.salesManagement.system.dao.SupplierInfoMapper" >
  <resultMap id="BaseResultMap" type="com.sanxia.salesManagement.system.model.SupplierInfo" >
    <id column="supplier_id" property="supplierId" jdbcType="INTEGER" />
    <result column="supplier_name" property="supplierName" jdbcType="VARCHAR" />
    <result column="supplier_address" property="supplierAddress" jdbcType="VARCHAR" />
    <result column="supplier_tel" property="supplierTel" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    supplier_id, supplier_name, supplier_address, supplier_tel
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from supplier_info
    where supplier_id = #{supplierId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from supplier_info
    where supplier_id = #{supplierId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sanxia.salesManagement.system.model.SupplierInfo" >
    insert into supplier_info (supplier_id, supplier_name, supplier_address, 
      supplier_tel)
    values (#{supplierId,jdbcType=INTEGER}, #{supplierName,jdbcType=VARCHAR}, #{supplierAddress,jdbcType=VARCHAR}, 
      #{supplierTel,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sanxia.salesManagement.system.model.SupplierInfo" >
    insert into supplier_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="supplierId != null" >
        supplier_id,
      </if>
      <if test="supplierName != null" >
        supplier_name,
      </if>
      <if test="supplierAddress != null" >
        supplier_address,
      </if>
      <if test="supplierTel != null" >
        supplier_tel,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="supplierId != null" >
        #{supplierId,jdbcType=INTEGER},
      </if>
      <if test="supplierName != null" >
        #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="supplierAddress != null" >
        #{supplierAddress,jdbcType=VARCHAR},
      </if>
      <if test="supplierTel != null" >
        #{supplierTel,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sanxia.salesManagement.system.model.SupplierInfo" >
    update supplier_info
    <set >
      <if test="supplierName != null" >
        supplier_name = #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="supplierAddress != null" >
        supplier_address = #{supplierAddress,jdbcType=VARCHAR},
      </if>
      <if test="supplierTel != null" >
        supplier_tel = #{supplierTel,jdbcType=VARCHAR},
      </if>
    </set>
    where supplier_id = #{supplierId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sanxia.salesManagement.system.model.SupplierInfo" >
    update supplier_info
    set supplier_name = #{supplierName,jdbcType=VARCHAR},
      supplier_address = #{supplierAddress,jdbcType=VARCHAR},
      supplier_tel = #{supplierTel,jdbcType=VARCHAR}
    where supplier_id = #{supplierId,jdbcType=INTEGER}
  </update>
  
  <select id="querySupplierInfoBy_id" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from supplier_info
    where supplier_id = #{supplierId,jdbcType=INTEGER}
  </select>
</mapper>